{{- if .Values.kueuePrepopulator.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-kueue-prepopulator
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-kueue-prepopulator-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kueue.x-k8s.io
  resources:
  - clusterqueues
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kueue.x-k8s.io
  resources:
  - localqueues
  verbs:
  - create
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-kueue-prepopulator-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-kueue-prepopulator-role
subjects:
- kind: ServiceAccount
  name: {{ .Release.Name }}-kueue-prepopulator
  namespace: {{ .Release.Namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-kueue-prepopulator-config
  namespace: {{ .Release.Namespace }}
data:
  controller_manager_config.yaml: |
    localQueueName: {{ .Values.kueuePrepopulator.config.localQueueName }}
    {{- if .Values.kueuePrepopulator.config.managedJobsNamespaceSelector }}
    managedJobsNamespaceSelector:
      {{- toYaml .Values.kueuePrepopulator.config.managedJobsNamespaceSelector | nindent 6 }}
    {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-kueue-prepopulator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: kueue-prepopulator
    app.kubernetes.io/instance: {{ .Release.Name }}
    control-plane: kueue-prepopulator
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: kueue-prepopulator
      app.kubernetes.io/name: kueue-prepopulator
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        control-plane: kueue-prepopulator
        app.kubernetes.io/name: kueue-prepopulator
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}-localqueue-controller
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - args:
        - "--config=/etc/kueue/controller_manager_config.yaml"
        - "--zap-log-level=2"
        image: "{{ .Values.kueuePrepopulator.image.repository }}:{{ .Values.kueuePrepopulator.image.tag }}"
        imagePullPolicy: {{ .Values.kueuePrepopulator.image.pullPolicy }}
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.kueuePrepopulator.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /etc/kueue
          name: manager-config
      {{- with .Values.kueuePrepopulator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: {{ .Release.Name }}-kueue-prepopulator-config
        name: manager-config
{{- end }}
